@import '../../styles/variables';

.administration_menu {
    width: 90vw;
    height: 5em;
    border-radius: $box-cut-radius;
    background: #252525;
    position: absolute;
    bottom: 2.5%;
    left: 5%;
    right: 5%;
    margin: auto;
    font-size: 12px;

    & > .menu_button {
        flex-grow: auto;
        width: 37.5%;

        & > .menu_button__trigger {
            color: $silver;
            font-size: .95em;
            font-weight: 900;

            & > .administration_menu__options {
                list-style: none;
                display: none;
            }
        }
    }
}

@import  "../../styles/responsive-adaptations/general_responsive.scss";