@import "../../styles/variables";

.profile_view {
    height: 100vh;
    font-size: 14px;

    .user_profile_header {
        font-size: $relative-subtitles-font-sizing;
        height: 40vh;
        font-weight: 900;
        margin-bottom: 20px;
        background: linear-gradient(-45deg, $imperial-red, $blood-red);
        color: $white;

        &:after {
            width: 3em;
            height: .5em;
            background: $imperial-red;
            border-radius: $box-cut-radius;
            display: block;
            content: "";
            margin: auto;
            transform: translateY(-125%);
        }
        
        .profile_header_symbol {
            align-items: center;
            color: $white-smoke;
            text-align: center;
            border-radius: 50%;
            font-size: $relative-titles-font-sizing;
            flex-grow: 20;
            margin-top: 20px;

            &__icon_element {
                font-size: 1.5em;
            }
        }

        #header-names {
            font-size: $relative-subtitles-font-sizing;
            display: flex;
        }

        #header-document-id {
            margin-top: 0;
            font-size: $relative-subtitles-font-sizing;

            & > p {
                margin-top: 0;
            }
        }
    }

    .user_profile_data_body {
        font-size: $relative-content-and-descriptions-font-sizing;
    }

    .profile_basics {
        padding-left: 35px;
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: flex-start;

        .profile_data_element {
            font-size: 14px;

            &_content {
                font-size: $relative-content-and-descriptions-font-sizing;
            }

            &:before {
                font-size: .95em;
                font-weight: 900;
            }

            &:after {
                border-radius: $box-cut-radius;
                opacity: .5;
                transform: translateY(-125%);
                width: 100%;
                height: .25em;
                background: $silver;
                display: block;
                content: "";
            }
        }

        #admin-names:before {
            content: "Nombre: ";
        }

        #admin-surnames:before {
            content: "Apellidos: ";
        }

        #admin-document-id:before {
            content: "Cédula: ";
        }

        #admin-email:before {
            content: "Correo eléctronico: ";
        }

        #admin-password:before {
            content: "Contraseña: ";
        }

        #admin-phone-number:before {
            content: "Teléfono: ";
        }

        #admin-location:before {
            content: "Localización: ";
        }

        #admin-age:before {
            content: "Edad: ";
        }

        #admin-gender:before {
            content: "Género: ";
        }
    }
}

@import  "../../styles/responsive-adaptations/general_responsive.scss";