@import "./variables";

.formulary {
    position: absolute;
    min-height: 100vh;
    width: 99vw;
    background: $white;
    color: $night;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    text-align: center;

    .go-back_formulary-button {
        align-self: flex-start;
        margin: 15px;
    }

    &__headers {
        width: 90%;
        font-size: $subtitles-font-sizing;
    }

    &__sending_module {
        width: 90%;
        height: 60%;
        border-radius: $box-cut-radius;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .mandatory_input_field_flag {
            align-self: flex-start;
            margin: 20px 5px 10px 5px;
            font-weight: 900;
            font-size: .85rem;
            color: $cornell-red;
        }

        .login-button {
            margin: 25px;
        }
    }
}

.input_field {
    height: 3rem;
    background: #ebe9e9a8;
    border-radius: $box-cut-radius;
    border: none;
    text-align: center;

    &::placeholder {
        color: $night;
        font-weight: 600;
    }

}

.document_type_selection {
    margin: 5px 0 5px 0;
}